<h1>Shoe brand: <%= @shoe.brand %></h1>
<h3>Shoe price: $<%= @shoe.price %></h3>
<hr><br>
<form action="/store/<%= @store.id %>/shoe/<%= @shoe.id %>/edit" method="post">
  <input type="hidden" name="_method" value="patch">
  <label>Edit shoe brand:</label>
  <input type="text" name="shoe_brand" value="<%= @shoe.brand %>">
  <label>Edit shoe price:</label>
  <input type="text" name="shoe_price" value="<%= @shoe.price %>">
  <button type="submit">Update</button>
</form>
<form action="/store/<%= @store.id %>/shoe/<%= @shoe.id %>/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <label>Delete a shoe:</label>
  <button type="submit">Delete</button>
</form>
