<h1><%= @store.name %></h1>
<a id="edit-store" href="/store/<%= @store.id %>/edit">
  <input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f4 " type="button" value="Edit store">
</a>
<h3>Shoes available at this location:</h3>
<br>
<% if @shoes.any? %>
  <ul class="list pl0 measure">
    <% @shoes.each do |shoe| %>
      <a href="/store/<%= @store.id %>/shoe/<%= shoe.id %>" class="f4 fw6 db black link hover-green"><li class="lh-copy pv3 ba bl-0 bt-0 br-0 b--dotted b--black-30"><%= shoe.brand %> | <%= shoe.display_price %></li></a>
    <% end %>
  </ul>
<% else %>
  <p><em>There are currently no shoes at this location, add one below!</em></p>
<% end %>
<br><hr>
<form class="pa1 black-80" action="/store/<%= @store.id %>/shoe/new" method="post">
  <div class="measure">
    <h3>Add a shoe to this location:</h3>
    <div class="mw8 center pt0 pb5 pv5-m pv1-ns">
      <div class="db dtc-ns v-mid-ns">
        <select name="shoe-select">
          </option>
          <% @all_shoes.each do |shoe| %>
            <option value="<%= shoe.id %>"><%= shoe.brand %></option>
          <% end %>
        </select>
      </div>
      <div class="db dtc-ns v-mid ph2 pr0-ns pl3-ns">
        <input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f4 dib" type="submit" value="Add shoe">
      </div>
    </div>
  </div>
</form>
